<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cotizador en línea</title>
    <link href="{{ asset('/public/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <img src="{{ asset('/public/img/logo.png')}}" alt="" class="img-thumbnail">

        <div class="page-header">
            <h1>Cotizador en línea</h1>
        </div>
        <div class="alert alert-warning" role="alert">
            <a href="#" class="alert-link">
                Los valores diferentes a pesos se liquidan a la tasa CB del día. Sujetos a
                cambios sin previo aviso.
            </a>
        </div>

        <form action="/public/include/print.php" method="post">
            <div class="row">
                {#<!-- Primer segmento -->#}
                <div class="col-md-4">
                    {{ form_widget(form._token) }}
                    {{ form_row(form.curso, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.pais, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.ciudad, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.centro, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.semanas, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.lecciones_por_semana, {'attr': {'class': 'form-control'}}) }}
                </div>
                {#<!-- Segundo segmento -->#}
                <div class="col-md-4" id="paso_2">
                    {{ form_row(form.alojamiento, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.semanas_de_alojamiento, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.tipo_de_alojamiento, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.tipo_de_habitacion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.alimentacion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.traslado, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.seguro, {'attr': {'class': 'form-control'}}) }}
                </div>
                {#<!-- Tercer segmento -->#}
                <div class="col-md-4" id="paso_3">
                    {{ form_row(form.moneda, {'attr': {'class': 'form-control'}}) }}
                    <p></p>
                    <ul class="list-group" id="list_valores">
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            CURSO
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            REGISTRO
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            MATERIALES
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            ESTADIA
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            TRASLADO
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            FINANCIEROS
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            ASISTENCIA
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            VISA
                        </li>
                        <li class="list-group-item">
                            <span class="badge">$0</span>
                            TOTAL
                        </li>
                    </ul>
                    <p></p>
                    <button type="submit" class="btn btn-success" id="boton_imprimir">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> IMPRIMIR
                    </button>
                </div>

            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<footer>
    <p></p>

    <p></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ asset('/public/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('/public/js/cotizador.js')}}"></script>
</body>
</html>